:root{
    --black:hsl(204, 71%, 1%);
    --dark-grey-1:hsl(210, 11, 15);
    --dark-grey-2:hsl(210, 10, 23);
    --light-grey-1:hsl(210 28% 66%);
    --light-grey-2:hsl(210, 11, 71);
    --light-white-1:hsl(210, 16, 93);
    --light-white-2:hsl(210, 17, 98);
    --orangered:hsl(16, 100%, 50%);
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url(../fonts/Manrope-Regular.otf);
}

*{
  padding:0;
  margin:0;
  scroll-behavior: smooth;
  
}

.btn{
  background-color: black;
  color: var(--light-white-1);
  width: 10rem;
  height:3rem;
  font-size: 1.2rem;
  border: 2px solid orangered;
  
}
.btn a{
  text-decoration: none;
  color: white;
}

/*navigation bar*/

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-grey-1); /* using the dark-grey-1 variable from your CSS context */
    border-bottom: 1px solid white;
    padding:0px 0px 0px 0px;
    
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
  }

  .nav-links ul{
    text-align: center;
  }

  .nav-links li{
    text-align: center;
    margin-right: 30px;
  }
  
  .nav-links a {
    color: var(--orangered); 
    text-decoration: none;
    font-size: 1.2rem;
    text-align:center;
  }
  
  .logo {
    flex-grow: 1;
    text-align: center;

  }
  
  .logo img {
    width: 100px; /* adjust the width to your liking */
    height: 80px; /* adjust the height to your liking */
  }

body {
    font-family: 'Manrope-Regular';
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-grey-1);
    background-color: var(--black);
    margin: 0px auto;
    max-width: 1200px;
    box-sizing: border-box;
    /*padding:0px 10px 0px 10px;*/
}

/*hero section*/

.hero {
    background-color: var(--dark-grey-1); /* using the dark-grey-1 variable from your CSS context */
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
  }
  
  .hero-text {
    z-index: 1;
    text-align: center;
    color: #fff;
    padding: 50px;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .hero-text p {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  
  .hero-text button:hover {
    background-color: var(--primary-color-hover);
    transition: 0.5s ease-in-out;
    color:black;
  }

/*tape section*/

.tape{
  margin-top: 150px;
  
}

.tape-container img{
  width:50%;
  height:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  
}


/*collections section*/

.collections{
  padding:50px 0px 0px 0px;
}
.collections-title{
    margin: 0px 0px 50px 0px;
    color:var(--orangered);
}

.wrapper { 
    max-width: 1100px; 
    width: 100%; 
    position: relative; 
    margin:0px 0px 0px 50px;
  
} 
  
.wrapper i { 
    height: 50px; 
    width: 50px; 
    background: var(--black); 
    text-align: center; 
    line-height: 50px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    font-size: 1.25 rem; 
    transform: translateY(-50%); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
  
} 
  
.wrapper i:first-child { 
    left: -22px; 
  
} 
  
.wrapper i:last-child { 
    right: -22px; 
  
} 
  
.wrapper .carousel { 
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 3) - 12px); 
    gap: 16px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
} 
  
.carousel::-webkit-scrollbar { 
    display: none; 
} 
  
.carousel :where(.card, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
  
.carousel.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
} 
  
.carousel.no-transition { 
    scroll-behavior: auto; 
} 
  
.carousel.dragging .card { 
    cursor: grab; 
    user-select: none; 
} 
  
.carousel .card { 
    scroll-snap-align: start; 
    height: 250px; 
    list-style: none; 
    background: var(--black);
    border:1px solid white; 
    border-radius: 8px; 
    display: flex; 
    cursor: pointer;
    width: 100%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
} 
  

  
.card .img img { 
    /*width: 140px;*/ 
    height: 140px; 
    object-fit: cover; 
    /*border-radius: 50%; 
    border: 4px solid #fff; */
} 

.carousel .card:hover{
    background-color: var(--light-white-2);
}

.card:hover{
  border-color: var(--orangered) 1s ease-in-out;;
}
.card h2 { 
    font-weight: 500; 
    font-size: 1.56rem; 
    margin: 30px 0 5px; 
} 
  
.card span { 
    color: #6a6d78; 
    font-size: 1.31rem; 
  
}

/*marquee text*/

.blink {
  animation: blinker 1s linear infinite;
  color: var(--dark-grey-2);
  font-family: sans-serif;
  font-size: 3.5rem;
  margin-top:50px;
  margin-bottom:50px;
  animation-duration: 3ms;
    
}
.blink span{
  color: var(--orangered);
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*catergories section*/
.categories {
    padding: 20px;
    
    margin-bottom: 50px;
    padding:0px 0px 50px 0px;
    border-bottom: 1px solid white;
  }
  .categories-tape-1{
    position:absolute;
    display: block;
    width:20em;
    height:30em;
    padding:120px 0px 0px 400px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    background-color: var(--black);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
  }

  .grid-item:hover{
    border-color: var(--orangered);
  }
  
  .grid-item img {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
  }

  .grid-item img:hover{
    width: 170px;
    height: 120px;
    transition: 1s ease-in-out;
  }
  
  .grid-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--orangered);
  }
  
  .grid-item p {
    font-size: 1rem;
    color: #666;
  }




/*photos section*/
.photos {
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .categories-tape-2{
    position:absolute;
    display: block;
    width:30em;
    height:30em;
    padding:280px 0px 0px 500px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
  }
  .photos-grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5px;
  }
  
  .photos-grid-item {
    border: 2px solid #ddd;
    border-radius: 10px;
  }
  
  .photos-grid-item--large {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  
  .photos-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }


/**/

/*Magazine section*/

.magazine-section{
    margin-top:50px;
    font-family:'Times New Roman', Times, serif;
}

.magazine-heading{
    
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--light-grey-1);
  
}

.date-stamp{
    font-size: 1.5rem;
    
}


main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
  row-gap: 3rem;
}

img {
  width: 100%;
  object-fit: cover;
}

hr {
  margin: 1.5rem 0;
  border: 1px solid rgba(120, 120, 120, 0.6);
}

.heading {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
}

.text {
  grid-column: 2 / 3;
  font-size: 1.3rem;
  letter-spacing: 0.6px;
  column-width: 25rem;
  text-align: justify;
}

.hero {
  grid-column: 1 / -1;
  position: relative;
}

.hero-title {
  text-align: center;
  color: hsl(16, 100%, 50%);
  font-size: 8rem;
}

.hero-subtitle {
  font-size: 2.4rem;
  color: orangered;
  text-align: center;
}

.author {
  font-size: 1.5rem;
  font-family:'Times New Roman', Times, serif;
}

.author-name a:hover {
  background-color: #306203;
}

.publish-date {
  color: rgba(255, 255, 255, 0.5);
}

.social-icons {
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  
}
.social-icons a{
  color:var(--orangered);
}

.social-icons a:hover{
  color:white;
  transition: 0.5s;
}

.first-paragraph::first-letter {
  font-size: 6rem;
  color: orangered;
  float: left;
  margin-right: 1rem;
}

.quote {
  color: #00beef;
  font-size: 1.5rem;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.quote::before {
  content: '" ';
}

.quote::after {
  content: ' "';
}

.text-with-images {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
  margin-bottom: 3rem;
}

.lists {
  list-style-type: none;
  margin-top: 2rem;
}

.lists li {
  margin-bottom: 1.5rem;
}

.list-title, .list-subtitle {
  color: #00beef;
}

.image-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
  place-items: center;
}

.image-1, .image-3 {
  grid-column: 1 / -1;
}
  
/*community section*/

.community{
  padding: 50px 0px 0px 0px;
  border-top: 1px solid white;
}

.community-title{
  color: var(--orangered);
}

.community-grid-item{
  padding:0px 0px 0px 0px;
}

.community-grid-item p{
  padding:10px 0px 0px 0px;
  font-size: 2rem;
}

.community-links-grid-item p a{
  text-decoration: none;
  color: var(--dark-grey-1);
}

.community-links-grid-item p a:hover{
  color: var(--orangered);
  transition: 0.5s;
}

.community-email{
  width:20em;
  height:3rem;
  border:1px solid white;
  border-radius: 25px;
  background-color: var(--black);
  display: inline-block;
  margin: 0px 5px 0px 0px;
  color:#fff;
  text-align: left;
  padding: 0px 0px 0px 20px;
  font-size: 1.2rem;
  position: relative;
}

.btn-submit{
  position: relative;
  display: inline-block;
  border: 1px solid var(--orangered);
  border-radius: 25px;
  width:5rem;
  height:3rem;
  background-color: var(--black);
  color:white;
  font-size: 1.2rem;
  padding:0px 0px 0px 0px;
  cursor: pointer;
}
.btn-submit:hover{
  color: white;
  transition: 0.5s;
  background-color: var(--orangered);
}


.community-top-content{
  display: inline-grid;
  grid-template-columns:auto auto;
  column-gap: 100px;
}

.community-links-container{
  padding:50px 0px 0px 0px;
  display: grid;
  grid-template-columns: auto auto auto;
}


/*footer*/

footer{
  padding:100px 0px 0px 0px;
}

footer p{
  font-size: 2rem;
}

  
  @media only screen and (max-width: 720px) {

  /*navigation bar*/

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-grey-1); /* using the dark-grey-1 variable from your CSS context */
    border-bottom: 1px solid white;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px 25px 0px 10px;
  }

  .nav-links li {
    margin-right: 10px;

  }

  .nav-links a {
    color: var(--orangered); 
    text-decoration: none;
    font-size: 0.7rem;
  }

  .logo {
    flex-grow: 1;
    text-align: center;
    margin:0px 10px 0px 0px;
  }

  .logo img {
    width: 80px;
    height: 60px;
  }

  /*hero section*/

  .hero {
    background-color: var(--dark-grey-1); /* using the dark-grey-1 variable from your CSS context */
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
  }

  .hero-text {
    z-index: 1;
    text-align: center;
    color: #fff;
    padding: 50px;
  }

  .hero-text h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .hero-text p {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }


  .hero-text button:hover {
    background-color: var(--primary-color-hover);
    transition: 0.5s ease-in-out;
    color:black;
  }





    .image-wrapper {
      grid-template-columns: 1fr;
    }

    /*catergories section*/
    .categories-tape-1{
      position:absolute;
      display: block;
      width:20em;
      height:30em;
      padding:120px 0px 0px 0px;
      height:auto;
      margin-left: auto;
      margin-right: auto;
    }

    .categories-tape-2{
      position:absolute;
      display: block;
      width:8em;
      height:30em;
      padding:100px 0px 0px 170px;
      height:auto;
      margin-left: auto;
      margin-right: auto;
    }

    /*tape section*/

    .tape{
      margin-top: 300px;

    }

    .tape-container img{
      width:80%;
      height:80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    

    }


    /*collections section*/

    .collections{
      padding:50px 0px 0px 50px;
    }
    .collections-title{
        margin: 0px 0px 50px 0px;
        padding:0px 0px 0px 10px;
        color:var(--orangered);
    }

    .wrapper { 
        max-width: 1100px; 
        width: 90%; 
        position: relative; 
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;

    } 

    .wrapper i { 
        height: 50px; 
        width: 50px; 
        background: var(--black); 
        text-align: center; 
        line-height: 50px; 
        border-radius: 50%; 
        cursor: pointer; 
        position: absolute; 
        top: 50%; 
        font-size: 1.25 rem; 
        transform: translateY(-50%); 
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 

    } 

    .wrapper i:first-child { 
        left: -22px; 

    } 

    .wrapper i:last-child { 
        right: -22px; 

    } 

    .wrapper .carousel { 
        display: grid; 
        grid-auto-flow: column; 
        grid-auto-columns: calc((100% / 3) - 12px); 
        gap: 16px; 
        overflow-x: auto; 
        scroll-snap-type: x mandatory; 
        scroll-behavior: smooth; 
        scrollbar-width: 0; 
    } 

    .carousel::-webkit-scrollbar { 
        display: none; 
    } 

    .carousel :where(.card, .img) { 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    } 

    .carousel.dragging { 
        scroll-snap-type: none; 
        scroll-behavior: auto; 
    } 

    .carousel.no-transition { 
        scroll-behavior: auto; 
    } 

    .carousel.dragging .card { 
        cursor: grab; 
        user-select: none; 
    } 

    .carousel .card { 
        scroll-snap-align: start; 
        height: 250px; 
        list-style: none; 
        background: var(--black);
        border:1px solid white; 
        border-radius: 8px; 
        display: flex; 
        cursor: pointer;
        width: 100%; 
        padding-bottom: 15px; 
        align-items: center; 
        justify-content: center; 
        flex-direction: column; 
    } 



    .card .img img { 
        width: 80px; 
        height: 60px; 
        object-fit: cover; 
        /*border-radius: 50%; 
        border: 4px solid #fff; */
    } 

    .carousel .card:hover{
        background-color: var(--light-white-2);
    }

    .card:hover{
      border-color: var(--orangered) 1s ease-in-out;;
    }
    .card h2 { 
        font-weight: 500; 
        font-size: 1.56rem; 
        margin: 30px 0 5px; 
    } 

    .card span { 
        color: #6a6d78; 
        font-size: 1.31rem; 

    }

    /*marquee text*/

    .blink {
      animation: blinker 1s linear infinite;
      color: var(--dark-grey-2);
      font-family: sans-serif;
      font-size: 3rem;
      margin-top:50px;
      margin-bottom:50px;
      animation-duration: 3ms;

    }
    .blink span{
      color: var(--orangered);
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    /*catergories section*/
    .categories {
      margin-bottom: 50px;
      padding:0px 0px 50px 20px;
      border-bottom: 1px solid white;
    }
    .categories-tape-1{
      position:absolute;
      display: block;
      width:10em;
      height:30em;
      padding:160px 0px 0px 80px;
      height:auto;
      margin-left: auto;
      margin-right: auto;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }

    .grid-item {
      background-color: var(--black);
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      text-align: center;
      width:120px;
    }

    .grid-item:hover{
      border-color: var(--orangered);
    }

    .grid-item img {
      width: 80px;
      height: 50px;
      margin-bottom: 10px;
    }

    .grid-item img:hover{
      width: 90px;
      height: 60px;
      transition: 1s ease-in-out;
    }

    .grid-item h2 {
      font-size: 1rem;
      margin-bottom: 10px;
      color: var(--orangered);
    }

    .grid-item p {
      font-size: 0.8rem;
      color: #666;
    }
    
    /*Magazine section*/

    .magazine-section{
      margin-top:50px;
      font-family:'Times New Roman', Times, serif;
    }

    .magazine-heading{

    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--light-grey-1);
    
    }

    .date-stamp{
      font-size: 1rem;

    }


    main {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
    row-gap: 3rem;
    }

    img {
    width: 100%;
    object-fit: cover;
    }

    hr {
    margin: 1.5rem 0;
    border: 1px solid rgba(120, 120, 120, 0.6);
    }

    .heading {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
    }

    .text {
    grid-column: 2 / 3;
    font-size: 1.3rem;
    letter-spacing: 0.6px;
    column-width: 25rem;
    text-align: justify;
    }

    .hero {
    grid-column: 1 / -1;
    position: relative;
    }

    .hero-title {
    text-align: center;
    color: hsl(16, 100%, 50%);
    font-size: 8rem;
    }

    .hero-subtitle {
    font-size: 2.4rem;
    color: orangered;
    text-align: center;
    }

    .author {
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    }

    .author-name{
      font-size: 1.2rem;
    }
    .author-name a:hover {
    background-color: #306203;
    }

    .publish-date {
    color: rgba(255, 255, 255, 0.5);
    }

    .social-icons {
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    
    }
    .social-icons a{
    color:var(--orangered);
    font-size: 1rem;
    }

    .social-icons a:hover{
    color:white;
    transition: 0.5s;
    }

    .first-paragraph::first-letter {
    font-size: 3rem;
    color: orangered;
    float: left;
    margin-right: 1rem;
    }

    .text{
      font-size: 0.8rem;
    }

    .quote {
    color: #00beef;
    font-size: 1.5rem;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    }

    .quote::before {
    content: '" ';
    }

    .quote::after {
    content: ' "';
    }

    .text-with-images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
    margin-bottom: 3rem;
    }

    .lists {
    list-style-type: none;
    margin-top: 2rem;
    }

    .lists li {
    margin-bottom: 1.5rem;
    }

    .list-title, .list-subtitle {
    color: #00beef;
    }

    .image-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
    place-items: center;
    }

    .image-1, .image-3 {
    grid-column: 1 / -1;
    }

    /*community section*/

    .community{
      padding: 50px 0px 0px 10px;
      border-top: 1px solid white;
    }

    .community-title{
      color: var(--orangered);
    }

    .community-grid-item{
      padding:0px 0px 0px 0px;
      row-gap: 20px;
    }

    .community-grid-item p{
      padding:10px 10px 0px 10px;
      font-size: 0.8rem;
    }

    .community-links-grid-item p a{
      text-decoration: none;
      color: var(--dark-grey-1);
      font-size:0.8rem;
    }

    .community-links-grid-item p a:hover{
      color: var(--orangered);
      transition: 0.5s;
    }

    .community-email{
      width:12em;
      height:3rem;
      border:1px solid white;
      border-radius: 25px;
      background-color: var(--black);
      display: inline-block;
      margin: 50px 5px 0px 0px;
      color:#fff;
      text-align: left;
      padding: 0px 0px 0px 20px;
      font-size: 1.2rem;
      position:relative;
    }

    .btn-submit{
      position: relative;
      display: inline-block;
      border: 1px solid var(--orangered);
      border-radius: 25px;
      width:5rem;
      height:3rem;
      background-color: var(--black);
      color:white;
      font-size: 1.2rem;
      padding:0px 0px 0px 0px;
      cursor: pointer;
    }
    .btn-submit:hover{
      color: white;
      transition: 0.5s;
      background-color: var(--orangered);
    }


    .community-top-content{
      padding:50px 0px 0px 0px;
      display: block;
      grid-template-columns:auto auto;
      column-gap: 100px;
    }

    .community-links-container{
      padding:50px 0px 0px 0px;
      display: grid;
      grid-template-columns: auto auto auto;
    }


    /*footer*/

    footer{
      padding:100px 0px 0px 0px;
    }

    footer p{
    text-align:center;
      font-size: 1.5rem;
    }



  }
  
  @media only screen and (max-width: 600px) {
    .text-with-images {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .hero-title {
      font-size: 6rem;
    }
    
    .hero-subtitle,
    .author,
    .quote,
    .list-title {
      font-size: 1.8rem;
    }
    
    .social-icons {
      font-size: 2rem;
    }
  
    .text {
      font-size: 1.2rem;
    } 
  }
  
@media screen and (max-width: 900px) { 
    .wrapper .carousel { 
        grid-auto-columns: calc((100% / 2) - 9px); 
  
    } 
} 
  
@media screen and (max-width: 600px) { 
    .wrapper .carousel { 
        grid-auto-columns: 100%; 
  
    } 
}

